@charset "ISO-8859-1";
body {
    font-family: Helvetica;
    background-color: white;
    line-height: 20px;
    color: blue;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wrapCont{
  width: 20%;
  position: absolute;
  top: 60%;
  left: 50%;
 
}

.wrapTitle{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-face:Helvetica;
  color:blue;
  size:"20";
 
}
